<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head">
    <title id="title">GigaNews - Marketplace</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="container">

    <div class="d-flex justify-content-center">
        <div class="col-md-6 mt-3">
            <div class="card border-dark">
                <div class="card-body">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>currency - code - % change - &pound;1 buys - change</th></tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${result}">
                            <td th:text="${item}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: javascript"></footer>
</body>
</html>