<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-6 mt-3">
            <div class="mt-4 p-5 bg-secondary text-white rounded">
                <h3>Subscribe to trusted, insightful journalism.</h3>
                <p>Stay up to date with the latest news and analysis from UK's most trusted news source. Subscribe
                    to our newsletters and get business
                    news delivered straight into your inbox!</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-md-6 mt-3">
            <div class="card border-primary">
                <div class="card-body">
                    <form autocomplete="off" onsubmit="submitForm();return false">
                        <div class="form-group">
                            <label for="emailAddress">Your Email Adress</label>
                            <input id="emailAddress" type="text" name="email" class="form-control"
                                   placeholder="example@gmail.com" required
                                   autofocus>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto mt-2">
                            <button type="submit" class="btn btn-primary btn-block">
                                Subscribe!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: javascript"></footer>
<script>
    function submitForm() {
        $.post('', $('form').serialize(), function (response) {
            if (response === "success") {
                alert("You have subscribed successfully!");
            } else {
                alert("Something went wrong!");
            }
        });
    }
</script>
</body>
</html>